.container
  %ol.breadcrumb
    %li= link_to('Home', trips_path)
    %li= "#{@trip.title}"
  .page-header
    %h1= @trip.title
    %p.highlighted
      = t('by')
      = "#{@trip.user.name}"
      %br
      = @trip.content
  - if can? :create, @trip => Note
    .panel
      = link_to t('actions.new_note'), new_trip_note_path(@trip), class: 'btn btn-primary'
  - if @google
    #trip-map
  = render partial: 'note', collection: @trip.notes.recent