= form_for [note.trip, note], url: {action: "#{note.new_record? ? 'create' : 'update'}"}, html: {multipart: true, novalidate: 'novalidate'} do |f|
  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'
    %p.help-block= t '.help.title'
  .form-group
    = f.label :note_datetime
    = f.datetime_local_field :note_datetime, class: 'form-control'
    %p.help-block= t '.help.datetime'
  .form-group
    = f.label :location
    .row
      .col-xs-6
        = f.text_field :longitude, class: 'form-control', placeholder: t('.placeholder.longitude')
      .col-xs-6
        = f.text_field :latitude, class: 'form-control', placeholder: t('.placeholder.latitude')
    %p.help-block= t '.help.location'
  .form-group
    = f.label :content
    = f.text_area :content, class: 'form-control', rows: 10
    %p.help-block= t '.help.content'
  .form-group
    = f.label :picture
    = image_tag(@note.picture_url) if @note.picture?
    = f.file_field :picture
    = f.hidden_field :picture_cache
  .form-group
    = f.submit t "#{note.new_record? ? '.create' : '.update'}"
